VITE_API_BASE_URL=http://localhost:4000

VITE_FIREBASE_API_KEY=AIzaSyB983szptwq8nU_iN02Me1vw_HFfM8b1fU
VITE_FIREBASE_AUTH_DOMAIN=boarding-housems.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=boarding-housems
VITE_FIREBASE_STORAGE_BUCKET=boarding-housems.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=647622825270
VITE_FIREBASE_APP_ID=1:647622825270:web:ab2313c44d0bb061bfcf97
VITE_FIREBASE_MEASUREMENT_ID=G-HP49061FHC
